.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form,
.contact-list {
  text-align: left;
}

.contact-list li {
  margin: 10px 0;
}

.contact-form {
  border: 1px solid #777;
  padding: 10px;
  border-radius: 5px;
}
.contact-form input[type="text"] {
  width: 90%;
}
